# Ruby / Rails
/.bundle
/vendor/bundle
/log/*
/tmp/*
!/log/.keep
!/tmp/.keep
/storage/*
!/storage/.keep
/public/assets

# Environment
.env
.env.*
/config/master.key
/config/credentials/*.key

# OS
.DS_Store
Thumbs.db

# IDE
.idea/
.vscode/
*.swp
*.swo
image.png
image copy.png
image copy 2.png
image copy 3.png
